@font-face {
  font-family: TiemposText;
  src: url(../font/TiemposText-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: TiemposHeadline;
  src: url(../font/TiemposHeadline-Medium.otf);
  font-weight: normal;
}
@font-face {
  font-family: AlrightSansLT;
  /*src: url(../font/AlrightSans-Regular.otf);*/
  src: url(../font/AlrightSans-Light.otf);
  font-weight: normal;
}

@font-face {
  font-family: AlrightSansLT-Medium;
  src: url(../font/AlrightSans-Regular.otf);
  font-weight: bold;
}

.rs-Newsletter-tips-highlightstory {
  width: 50%;
  margin: 0 auto;
}

.top {
  display: flex;
  margin: 4% 0% 0 4%;
}

.top-right {
  float: right;
  margin: 0% 0 0 52%;
  }
.top-right a {
  text-decoration: none;
}

.rs-logo {
  width: 100%;
  height: 100%;
}

.View-in-your-browser {
  font-family: AlrightSansLT;
  font-size: 1vw;
  text-align: left;
  color: #ec5447;
}

/* section 1 */

.section-1 {
  width: 100%
}

.Summer-text-left {
  position: absolute;
  width: 33%;
}

.Summer-Newsletter {
  width: 100%;
  font-family: TiemposText;
  font-size: 3vw;
  line-height: 1.02;
  letter-spacing: -0.4px;
  text-align: left;
  color: #0a273c;
  margin-left: 8%;
}

.z {
  width: 68%;
  font-family: AlrightSansLT;
  font-size: 1.2vw;
  line-height: 1.21;
  text-align: left;
  color: #85939e;
  margin-left: 8%;
  position: relative;
  margin-top: -4%;
}

.Summer-img-right {
  width: 34%;
  position: relative;
  margin-left: 24%;
}

.NewsletterGraphicPlaceholder {
  width: 100%;
  margin-left: 100%;
  position: relative;
  margin-top: 8%;
}

.Bitmap {
  width: 100%;
}

.Rectangle-img {
  margin: 10% 8% 0 8%;
  position: relative;
}

/* Second Section */

.Rectangle {
  width: 100%;
  background-color: #f7f8f9;
  position: relative;
  margin-top: -0.25%;
  border-bottom: 5vh solid #f7f8f9;
}

.Rectangle-3 {
  width: 84%;
  background-color: #ffffff;
  margin-left: 8%;
  position: relative;
  height: 42vh;
}


.Rectangle-4 {
  width: 12%;
  height: 1px;
  opacity: 0.47;
  background-color: #85939e;
  margin: 10% 0 0 6%;
  position: absolute;
}

.Rectangle-2 {
  margin: 0 8% 0 24%;
  float: right;
  position: relative;
}

.TRACTION {
  width: 100%;
  font-family: AlrightSansLT;
  font-size: 1vw;
  font-weight: bold;
  color: #60cbe2;
  float: left;
  position: relative;
}

.Traction-Conference {
  font-family: TiemposHeadline;
  font-size: 1.5vw;
  font-weight: 500;
  text-align: left;
  color: #0a273c;
  position: relative;
}

.Hi-There-Were-stil {
  width: 100%;
  opacity: 0.73;
  font-family: AlrightSansLT;
  font-size: 1.2vw;
  line-height: 1.36;
  letter-spacing: -0.1px;
  text-align: left;
  color: #0a273c;
  position: relative;
}

.Hi-There-Were-stil .text-style-1 {
  color: #ec5447;
  font-style: normal;
}

.-Tips-for-Action {
  width: 100%;
  font-family: TiemposText;
  font-size: 2.2vw;
  font-weight: 500;
  text-align: center;
  color: #0a273c;
  margin-bottom: -3%;
}

.All-the-things-you-n {
  width: 100%;
  height: 18px;
  font-family: AlrightSansLT;
  font-size: 1.2vw;
  color: #0a273c;
  text-align: center;
  margin-bottom: 4%;
}

/* Rectangles*/

.Rectangle-5 {
  width: 84%;
  background-color: #ffffff;
  border: solid 1px #eceef0;
  margin: 2% 8% 0 8%;
  position: relative;
}

.growth-icon {
  width: 15%;

  position: absolute;
  margin: 3% 0 0% 7%;
}

.Investing-for-brand {
  width: 80%;
  font-family: AlrightSansLT;
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: left;
  color: #0a273c;
  margin-left: 28%;
  position: relative;
}

.Zapier-is-an-incredi {
  width: 66%;
  font-family: AlrightSansLT;
  font-size: 1vw;
  text-align: left;
  color: #85939e;
  margin-left: 28%;
  margin-top: -2%;
  position: relative;
}

.read-more {
  width: 72%;
  font-family: AlrightSansLT;
  font-size: 0.8vw;
  font-weight: 500;
  text-align: left;
  color: #60cbe2;
  margin-left: 28%;
}

.Social-Media-Trends {
  width: 80%;
  font-family: AlrightSansLT;
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: left;
  color: #0a273c;
  margin-left: 28%;
  position: relative;
}

/* Divider*/

.Line-2 {
  width: 99%;
  border: solid 0.1vh #eceef0;
  margin-top: 5%;
  position: relative;
}

.Your-favourite-blog {
  width: 100%;
  font-family: TiemposText;
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
  color: #0a273c;
  margin-top: 6%;
  position: relative;
}

.Our-readers-have-fou {
  width: 100%;
  font-family: AlrightSansLT;
  font-size: 1.4vw;
  text-align: center;
  color: #0a273c;
  margin-top: -3%;
  position: relative;
}

/* Rectangle - 2 pices*/

.Rectangle-6 {
  width: 40%;
  height: 43vh;
  background-color: #ffffff;
  border: solid 1px #eceef0;
  margin: 8% 8% 8% 8%;
  position: absolute;
}

.rs-blog-illustration-traction {
  width: 100%;
}

.text-container {
  margin-left: 6%;
  float: left;
  position: relative;
}

.TRACTION-2 {
  width: 100%;
  font-family: AlrightSansLT;
  font-size: 1vw;
  font-weight: bold;
  text-align: left;
  color: #60cbe2;
  float: left;
  position: relative;
  margin-top: -4%;
}

.Takeaway-from-Tracti {
  width: 100%;
  font-family: TiemposHeadline;
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 1.38;
  text-align: left;
  color: #0a273c;
  margin-top: 28px;
  position: relative;
}

.We-learned-so-much-f {
  width: 96%;
  opacity: 0.73;
  font-family: AlrightSansLT;
  font-size: 1vw;
  line-height: 1.5;
  text-align: left;
  color: #0a273c;
}

.Rectangle-7 {
    width: 40%;
    height: 43vh;
    background-color: #ffffff;
    border: solid 1px #eceef0;
    position: relative;
    margin: 11% 8% 0% 52%;
}

.rs-blog-automationmadeeasy_1024 {
  width: 100%;
}

.Sales-Automation-Mad {
  width: 100%;
  font-family: TiemposHeadline;
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 1.38;
  text-align: left;
  color: #0a273c;
  margin-top: 28px;
  position: relat
}

/* Third Section*/

.Rectangle-8 {
  width: 100%;
  background-color: #ec5447;
  position: relative;
  padding: 0.5% 0% 0.5% 0%;
}

.We-now-do-CRO-let-u {
  width: 94%;
  font-family: AlrightSansLT;
  font-size: 1.2vw;
  line-height: 1.36;
  text-align: left;
  color: #ffffff;
  text-align: center;
  margin-left: 3%;
}

.We-now-do-CRO-let-u .text-style-2 {
  font-family: AlrightSansLT-Medium;
  font-weight: 500;
}

/*Footer*/

.rs-Newsletter-tips-highlightstory-1 {
  margin-top: 2%;
}

.social-media-icons {
  width: 100%;
  display: inline-flex;
  position: relative;
  margin-top: 4%;
}

.Made-in-Canada {
  width: 19%;
  opacity: 0.5;
  font-family: AlrightSansLT;
  font-size: 1.2vw;
  text-align: left;
  color: #85939e;
  margin-left: 8%;
  position: relative;
}

.Made-in-Canada p {
  margin-top: 0;
}

.Made-in-Canada .text-style-3 {
  font-family: AlrightSansLT-Medium;
  font-weight: bold;
}

.canada {
  margin-left: 1%;
  position: relative;
  width: 2%;
}

.img-canada{
  width: 100%
}

/* Social Media*/

.linkedin-icon {
  width: 5%;
  margin-left: 40%;
  position: relative;
}

.twitter-icon {
  width: 5%;
  margin-left: 1.5%;
  position: relative;
}

.facebook-icon {
  width: 5%;
  margin-left: 1.5%;
  position: relative;
}

.instagram-icon {
  width: 5%;
  margin-left: 1.5%;
  position: relative;
}

/* Divider*/

.Line-Copy-3 {
    width: 99%;
    border: solid 0.1vh #eceef0;
    margin-top: 5%;
    position: relative;
}

.Unsubscribe {
  width: 50%;
  font-family: AlrightSansLT;
  font-size: 1vw;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: uppercase;
  color: #0a273c;
  position: absolute;
  margin: 2% 4% 2% 16%;
}

.Unsubscribe .text-style-3 {
  letter-spacing: normal;
}

.View-in-browser {
  width: 50%;
  font-family: AlrightSansLT;
  font-size: 1vw;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: uppercase;
  color: #0a273c;
  margin: 2% 2% 2% 26%;
  position: absolute;
}

.Red-Stam {
  width: 100%;
  opacity: 0.5;
  font-family: AlrightSansLT;
  font-size: 1.2vw;
  text-align: center;
  color: #85939e;
  position: relative;
  margin-top: 12%;
}

.Icon {
  width: 3%;
  /* height: 35px; */
  position: absolute;
  /* margin: 195px 284px 71px 284px; */
  margin-left: 23.5%;
  margin-bottom: 5%;
}



@media (min-width:320px) and (max-width:479px) {
  .Rectangle-6 {
    height: 25vh;
    width: 98%;
    margin: 0 1% 0 1%;
    position: relative;
  }

  .Rectangle-7 {
    height: 25vh;
    width: 98%;
    margin: 0 1% 0 1%;
    margin-top: 5%;
  }
  .Rectangle-3 { height: 35vh }
  }

@media (min-width:480px) and (max-width:767px) {
.Rectangle-6 {
  height: 25vh;
  width: 98%;
  margin: 0 1% 0 1%;
  position: relative;
}

.Rectangle-7 {
  height: 25vh;
  width: 98%;
  margin: 0 1% 0 1%;
  margin-top: 5%;
}
.Rectangle-3 { height: 35vh }
}

@media (min-width:768px) and (max-width:1024px) {
.Rectangle-6, .Rectangle-7 { height: 32vh }
.Rectangle-3 { height: 38vh }
}

@media (min-width:1025px) and (max-width:1279px) {
  .Rectangle-6, .Rectangle-7 { height: 35vh }
  .Rectangle-3 { height: 40vh }
}
