@font-face {
  font-family: TiemposText;
  src: url(../font/TiemposText-Regular.otf);
  font-weight: normal;
}
@font-face {
  font-family: TiemposHeadline;
  src: url(../font/TiemposHeadline-Medium.otf);
  font-weight: normal;
}
@font-face {
  font-family: AlrightSansLT;
  /*src: url(../font/AlrightSans-Regular.otf);*/
  src: url(../font/AlrightSans-Light.otf);
  font-weight: normal;
}

@font-face {
  font-family: AlrightSansLT-Medium;
  src: url(../font/AlrightSans-Regular.otf);
  font-weight: bold;
}

.rs-Newsletter-tips-highlightstory {
  width: 50%;
  margin: 0 auto;
}

.top {
  display: inline-flex;
  margin: 4% 0% 0 10%;
  width: 100%;
}

.top-right {
  margin: 0% 0 0 40%;
  width: 20%;
  }

.top-right a {
  text-decoration: none;
}

.rs-logo {
  width: 100%;
  position: relative;
}

.View-in-your-browser {
  font-family: AlrightSansLT;
  font-size: 1vw;
  text-align: left;
  color: #ec5447;
}

/* section 1 */

.section-1 {
  width: 100%
}

.Summer-text-left {
  position: absolute;
  width: 33%;
}

.Summer-Newsletter {
  width: 100%;
  font-family: TiemposText;
  font-size: 3vw;
  line-height: 1.02;
  letter-spacing: -0.4px;
  text-align: left;
  color: #0a273c;
  margin-left: 8%;
}

.z {
  width: 68%;
  font-family: AlrightSansLT;
  font-size: 1.2vw;
  line-height: 1.21;
  text-align: left;
  color: #85939e;
  margin-left: 8%;
  position: relative;
  margin-top: -4%;
}

.Summer-img-right {
  width: 34%;
  position: relative;
  margin-left: 24%;
}

.NewsletterGraphicPlaceholder {
  width: 100%;
  margin-left: 100%;
  position: relative;
  margin-top: 8%;
}

.Bitmap {
  width: 100%;
}

.Rectangle-img {
  margin: 10% 8% 0 8%;
  position: relative;
  width: 84%;
}

/* Second Section */

.Rectangle {
  width: 50%;
  background-color: #f7f8f9;
  position: absolute;
  margin-top: -0.25%;
}

.Rectangle-3 {
  width: 83.2%;
  background-color: #ffffff;
  margin-left: 8%;
  position: absolute;
}


.Rectangle-4 {
  width: 12%;
  height: 1px;
  opacity: 0.47;
  background-color: #85939e;
  margin: 10% 0 0 6%;
  position: absolute;
}

.Rectangle-2 {
  margin: 0 8% 0 24%;
  float: right;
  position: relative;
}

.TRACTION {
  width: 100%;
  font-family: AlrightSansLT;
  font-size: 1vw;
  font-weight: bold;
  color: #60cbe2;
  float: left;
  position: relative;
}

.Traction-Conference {
  font-family: TiemposHeadline;
  font-size: 1.5vw;
  font-weight: 500;
  text-align: left;
  color: #0a273c;
  position: relative;
}

.Hi-There-Were-stil {
  width: 100%;
  opacity: 0.73;
  font-family: AlrightSansLT;
  font-size: 1.2vw;
  line-height: 1.36;
  letter-spacing: -0.1px;
  text-align: left;
  color: #0a273c;
  position: relative;
}

.Hi-There-Were-stil .text-style-1 {
  color: #ec5447;
  font-style: normal;
}

.-Tips-for-Action {
  width: 100%;
  font-family: TiemposText;
  font-size: 2.2vw;
  font-weight: 500;
  text-align: center;
  color: #0a273c;
  margin-top: 48%;
  position: relative;
}

.All-the-things-you-n {
  width: 100%;
  height: 18px;
  font-family: AlrightSansLT;
  font-size: 1.2vw;
  color: #0a273c;
  text-align: center;
  margin-bottom: 4%;
}

/* Rectangles*/

.Rectangle-5 {
  width: 84%;
  background-color: #ffffff;
  border: solid 1px #eceef0;
  margin: 5% 8% 0 8%;
  position: relative;
}

.growth-icon {
  width: 15%;
  position: absolute;
  margin: 3% 0 0% 7%;
}

.Investing-for-brand {
  width: 80%;
  font-family: AlrightSansLT;
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: left;
  color: #0a273c;
  margin-left: 28%;
  position: relative;
}

.Zapier-is-an-incredi {
  width: 66%;
  font-family: AlrightSansLT;
  font-size: 1vw;
  text-align: left;
  color: #85939e;
  margin-left: 28%;
  margin-top: -2%;
  position: relative;
}

.read-more {
  width: 72%;
  font-family: AlrightSansLT;
  font-size: 0.8vw;
  font-weight: 500;
  text-align: left;
  color: #60cbe2;
  margin-left: 28%;
}

.Social-Media-Trends {
  width: 80%;
  font-family: AlrightSansLT;
  font-size: 1.5vw;
  font-weight: bold;
  letter-spacing: -0.5px;
  text-align: left;
  color: #0a273c;
  margin-left: 28%;
  position: relative;
}

/* Divider*/

.Line-2 {
  width: 99%;
  border: solid 0.1vh #eceef0;
  margin-top: 5%;
  position: relative;
}

.Your-favourite-blog {
  width: 100%;
  font-family: TiemposText;
  font-size: 2vw;
  font-weight: 500;
  text-align: center;
  color: #0a273c;
  margin-top: 6%;
  position: relative;
}

.Our-readers-have-fou {
  width: 100%;
  font-family: AlrightSansLT;
  font-size: 1.4vw;
  text-align: center;
  color: #0a273c;
  margin-top: -3%;
  position: relative;
}

/* Rectangle - 2 pices*/

.Rectangle-6 {
  width: 40%;
  background-color: #ffffff;
  border: solid 1px #eceef0;
  margin: 4% 8% 4% 8%;
  position: absolute;
}

.rs-blog-illustration-traction {
  width: 100%;
}

.text-container {
  margin-left: 6%;
  float: left;
  position: relative;
}

.TRACTION-2 {
  width: 100%;
  font-family: AlrightSansLT;
  font-size: 1vw;
  font-weight: bold;
  text-align: left;
  color: #60cbe2;
  float: left;
  position: relative;
  margin-top: -4%;
}

.Takeaway-from-Tracti {
  width: 100%;
  font-family: TiemposHeadline;
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 1.38;
  text-align: left;
  color: #0a273c;
  position: relative;
}

.We-learned-so-much-f {
  float: left;
  position: relative;
  width: 94%;
  font-family: AlrightSansLT;
  font-size: 1vw;
}

.Rectangle-7 {
  width: 40%;
  background-color: #ffffff;
  border: solid 1px #eceef0;
  position: absolute;
  margin: 4% 8% 4% 52%;
}

.rs-blog-automationmadeeasy_1024 {
  width: 100%;
}

.Sales-Automation-Mad {
  width: 100%;
  font-family: TiemposHeadline;
  font-size: 1.2vw;
  font-weight: 500;
  line-height: 1.38;
  text-align: left;
  color: #0a273c;
  position: relatative;
}

.Rectangle-8 {
  width: 100%;
  background-color: #ec5447;
  position: relative;
  padding: 0.5% 0% 0.5% 0%;
  margin-top: 58%;
  border-top: 1vh solid #f7f8f9;
}

.We-now-do-CRO-let-u {
  width: 94%;
  font-family: AlrightSansLT;
  font-size: 1.2vw;
  line-height: 1.36;
  text-align: left;
  color: #ffffff;
  text-align: center;
  margin-left: 3%;
}

.We-now-do-CRO-let-u .text-style-2 {
  font-family: AlrightSansLT-Medium;
  font-weight: 500;
}

/*Footer*/

.rs-Newsletter-tips-highlightstory-1 {
  margin-top: 110%;
  position: absolute;
  width: 50%;
}

.social-media-icons {
  width: 100%;
  display: inline-flex;
  position: relative;
  margin-top: 4%;
}

.Made-in-Canada {
  width: 19%;
  opacity: 0.5;
  font-family: AlrightSansLT;
  font-size: 1.2vw;
  text-align: left;
  color: #85939e;
  margin-left: 8%;
  position: relative;
  margin-top: 1%;
}

.Made-in-Canada p {
  margin-top: 0;
}

.Made-in-Canada .text-style-3 {
  font-family: AlrightSansLT-Medium;
  font-weight: bold;
}

.canada {
  position: relative;
  width: 2%;
  margin-top: 1%;
}

.img-canada{
  width: 100%
}

/* Social Media*/

.linkedin-icon {
  width: 5%;
  margin-left: 40%;
  position: relative;
}

.twitter-icon {
  width: 5%;
  margin-left: 1.5%;
  position: relative;
}

.facebook-icon {
  width: 5%;
  margin-left: 1.5%;
  position: relative;
}

.instagram-icon {
  width: 5%;
  margin-left: 1.5%;
  position: relative;
}

/* Divider*/

.Line-Copy-3 {
  width: 99%;
  border: solid 0.1vh #eceef0;
  margin-top: 5%;
  position: relative;
}

.Unsubscribe {
  width: 30%;
  font-family: AlrightSansLT;
  font-size: 1vw;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: uppercase;
  color: #0a273c;
  position: absolute;
  margin: 4% 4% 2% 31.5%;
}

.Unsubscribe .text-style-3 {
  letter-spacing: normal;
}

.View-in-browser {
  width: 30%;
  font-family: AlrightSansLT;
  font-size: 1vw;
  letter-spacing: 0.5px;
  text-align: left;
  text-transform: uppercase;
  color: #0a273c;
  margin: 4% 10% 2% 54%;
  position: absolute;
}

.Red-Stam {
  width: 100%;
  opacity: 0.5;
  font-family: AlrightSansLT;
  font-size: 1.2vw;
  text-align: center;
  color: #85939e;
  position: relative;
  margin-top: 12%;
}

.Icon {
  width: 3%;
  position: absolute;
  margin-left: 50%;
  margin-bottom: 5%;
}

/* ----- end of code ----- */

@media (min-width:320px) and (max-width:479px) {
  .top-right          { margin: 0% 0 0 0%; width: 50% }
  .rs-logo            { width: 50% }
  .Made-in-Canada     { margin-top: 7% }
  .social-media-icons { margin-top: 11% }
  .Rectangle          { margin-top: -0.75% }
  .Rectangle-img      { width: 86.5% }
}

@media (min-width:480px) and (max-width:767px) {
  .top-right     { margin: 0% 0 0 20% }
  .Rectangle-img { width: 85.5% }
  .Rectangle     { margin-top: -1% }
  .canada        { margin-top: -1.25% }
}
@media (min-width:768px) and (max-width:1024px) {
  .Made-in-Canada { margin-top: 1.75% }
  .Rectangle-img  { width: 84.75% }
}
